body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > * {
  margin: 1em;
}

#game {
  border: 1px solid black;
  max-height: 80vh;
  max-width: 80vw;
}

#penguin {
  display: none;
}
